@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-07 12:05:33
 * @version $Id$
 */
body{background-color: #f6fbfa;}

/* 导航 */
.header-wrap{height: 88px;background-color: #fff;}
.header-wrap .header-inner{width: 1000px;height: 88px;margin: 0 auto;}
.header-wrap .logo{display: inline-block;width: 161px;height: 40px;float: left;margin-top: 22px;}
.header-wrap .nav-list{float: right;}
.header-wrap .nav-list li{float: left;height: 88px;line-height: 88px;margin-left: 38px;}
.header-wrap .nav-list li a{color: #595959;font-size: 16px;}
.header-wrap .nav-list li a.active,.header-wrap .header-inner .nav-list li a:hover{color: #3686ec;}

/* banner slide */
.download-slide .hd{  position:absolute; bottom:15px; width: 100%;left: 0;text-align: center;height: 15px;z-index: 1;}
.download-slide .hd  li{width:6px; height:6px; text-align:center; background:#fff; cursor:pointer; display: inline-block;margin: 0 4px;border-radius: 6px;}
.download-slide .hd li.on{width: 30px;}
.download-slide .bd{ position:relative; height:100%; z-index:0;}



.download-slide{position: relative;height: 350px;}
.download-slide .download-slide-item{width: 100%;height: 350px;background-repeat: no-repeat;background-position: center center;background-size: cover;}
.download-slide .prev{position: absolute;width: 30px;height: 53px;background: url('../images/banner/home_bannerleft.png') no-repeat center center;background-size: cover;left: 20px;top: 150px;cursor: pointer;}
.download-slide .next{position: absolute;width: 30px;height: 53px;background: url('../images/banner/home_banner_right.png') no-repeat center center;background-size: cover;right: 20px;top: 150px;cursor: pointer;}
.download-slide .download-inner{width: 1000px;height: 350px;margin: 0 auto;}
.download-slide .download-inner .download-inner-left{width: 500px;height: 350px;float: left;text-align: center;}
.download-slide .download-inner .download-inner-left img{margin-top: 86px;}
.download-slide .download-inner .download-inner-left.type img{margin-top: 20px;}
.download-slide .download-inner .download-inner-right{width: 500px;height: 350px;float: right;}
.download-slide .download-inner .download-inner-right .tit{font-size: 48px;font-weight: bold;color: #fefefe;line-height: 1em;text-shadow: 0 4px 5px rgba(0, 0, 0, .3);margin-top: 86px;}
.download-slide .download-inner .download-inner-right .txt{font-size: 18px;font-weight: bold;color: #fefefe;line-height: 1em;margin-top: 17px;}
.download-slide .download-inner .download-inner-right .tip{color: #fff;font-size: 14px;margin-top: 10px;letter-spacing: 2px;}
.download-slide .download-inner .download-inner-right .txt .s-yuan{display: inline-block;width: 8px;height: 8px;background: url('../images/banner/home_banner_batzity4.png') no-repeat center center;vertical-align: middle;margin: 0 14px;}
.download-slide .download-inner .download-inner-right .download-btn-wrap{margin-top: 30px;margin-right: -24px;}
.download-slide .download-inner .download-inner-right .download-btn{width: 150px;height: 38px;background-color: #fff;border-radius: 6px;display: inline-block;color: #2bdf8e;font-weight: bold;line-height: 38px;float: left;margin-right: 24px;box-shadow: 2px 3px 4px rgba(0,0,0,.1);}
.download-slide .download-inner .download-inner-right .download-btn.circle{border-radius: 50px;}
.download-slide .download-inner .download-inner-right .download-btn.use-jc{text-align: center;background-color: #2bdf8e;color: #fff;}
.download-slide .download-inner .download-inner-right .download-btn.use-jc:hover{background-color: #00cc70;}
.download-slide .download-inner .download-inner-right .download-btn:hover{background-color: #eee;}
.download-slide .download-inner .download-inner-right .download-btn .download-icon{width: 20px;height: 20px;display: inline-block;background: url('../images/banner/home_banner_10_icon_selected_down.png');float: left;margin-left: 10px;margin-top: 9px;margin-right: 10px;}
.download-slide .sec-btn{position: absolute;width: 100%;position: absolute;left: 0;bottom: 12px;text-align: center;}
.download-slide .sec-btn li{width: 6px;height: 6px;background-color: #fff;border-radius: 6px;display: inline-block;margin: 0 5px;cursor: pointer;}
.download-slide .sec-btn li.on{width: 30px;}


.p-tip{height: 30px;background-color: #f2f2f2;width: 1000px;margin: 20px auto;font-size: 14px;text-align: center;line-height: 30px;color: #787e84;}

.download-ad{width: 1000px;height: 100px;margin: 0 auto;}

/* 下载列表 */
.download-list-wrap{width: 1000px;margin: 0 auto;margin-bottom: 50px;}
.download-list-wrap .download-list{width: 500px;}
.download-list-wrap .download-list .download-tit{font-size: 22px;margin-top: 38px;color: #00c2ad;text-align: center;margin-bottom: 25px;}
.download-list-wrap .download-list .download-tit .s-txt:before{display: inline-block;width: 30px;height: 24px;background: url('../images/home_content3/home_content_na_64icon.png') no-repeat center center;background-size: cover;content: '';vertical-align: middle;margin-right: 12px;}
.download-list-wrap .download-list .download-item{width: 470px;margin: 0 auto;box-shadow: 0 0 3px 2px rgba(0,0,0,.1);margin-bottom: 20px;}
.download-list-wrap .download-list .download-item .download-bg{position: relative;width: 470px;height: 157px;overflow: hidden;}
.download-list-wrap .download-list .download-item .download-bg img{width: 100%;}
.download-list-wrap .download-list .download-item .download-bg .download-layer{position: absolute;width: 470px;height: 157px;background-color: #999;background-color: rgba(0, 0, 0, .45);left: 0;top: -157px;-webkit-transition:  all .2s;transition:  all .2s;}
.download-list-wrap .download-list .download-item:hover .download-layer{top: 0;}
.download-list-wrap .download-list .download-item .download-layer{color: #fff;}
.download-list-wrap .download-list .download-item .download-layer .p-tit{font-size: 20px;font-weight: bold;margin-top: 20px;margin-bottom: 10px;}
.download-list-wrap .download-list .download-item .download-layer .p-tit a{color: #fff;}
.download-list-wrap .download-list .download-item .download-layer .p-info{height: 36px;line-height: 18px;font-size: 14px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.download-list-wrap .download-list .download-item .download-layer .p-txt{font-size: 14px;}
.download-list-wrap .download-list .download-item .download-layer-info{padding: 0 45px;}
.download-list-wrap .download-list .download-item .download-type-btn{background-color: #fff;padding: 14px 0;}
.download-list-wrap .download-list .download-item .download-type-btn .a-download-btn{width: 200px;height: 46px;border-radius: 6px;background-color: #17dfac;color: #fff;display: block;font-size: 20px; margin: 0 auto;line-height: 46px;}
.download-list-wrap .download-list .download-item .download-type-btn .a-download-btn:hover{background-color: #00c693;}
.download-list-wrap .download-list .download-item .download-type-btn .a-download-btn .s-icon{display: inline-block;width: 26px;height: 26px;background: url('../images/home_content3/_content_win10_neir_iconi.png') no-repeat center center;background-size: cover;margin: 9px 12px 0 24px;float: left;}

.footer{height: 148px;background-color: #3c4252;}
.footer .footer-inner{width: 1000px;margin: 0 auto;height: 148px;}
.footer .footer-inner .logo{display: inline-block;width: 161px;height: 40px;margin-top: 54px;margin-right: 102px;}
.footer .footer-text{font-size: 16px;}
.footer .footer-text .p-link{color: #fff;margin-top: 45px;margin-bottom: 20px;text-align: center;}
.footer .footer-text .p-link .a-link{color: #fff;}
.footer .footer-text .p-copyright{color: #9196a4;}


/* 系统下载列表 */
.system-download-list{width: 1000px;margin: 0 auto;}
.system-download-list li{background-color: #fff;margin-bottom: 20px;transition: .2s;}
.system-download-list li:hover{box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1)}
.system-download-list .system-download-text .p-tit a{font-size: 20px;color: #00c2ad;margin-bottom: 12px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.system-download-list .system-download-text .p-txt{font-size: 14px;line-height: 25px;height: 50px;color: #799794;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.system-download-list .system-download-item{padding: 30px 20px 0 24px;}
.system-download-list .system-download-item .img-wrap{margin-right: 20px;}
.system-download-list .system-download-item .img-wrap img{width: 260px;height: 160px;}
.system-download-list .system-info{font-size: 12px;color: #99b0ae;margin-top: 25px;}
.system-download-list .system-info .s-txt{margin-right: 10px;}
.system-download-list .system-info .s-txt .hui-star{display: inline-block;width: 59px;height: 11px;position: relative;background: url('../images/win10/content_win10_xing_hui.png');}
.system-download-list .system-info .s-txt .huang-star{display: inline-block;position: absolute;height: 11px;background: url('../images/win10/content_win10_xing_huang.png');}
.system-download-list .system-download-btn{padding-top: 15px;padding-bottom: 20px;}
.system-download-list .system-download-btn .a-btn{display: inline-block;width: 150px;height: 44px;background-color: #00df98;font-size: 18px;color: #fff;border-radius: 6px;line-height: 44px;box-shadow: 3px 4px 5px #dfdfdf;}
.system-download-list .system-download-btn .a-btn:hover{background-color: #00c693;}
.system-download-list .system-download-btn .a-btn .s-icon{display: inline-block;width: 26px;height: 26px;background: url('../images/win10/bgfn.png');float: left;margin: 10px 14px 0 16px;}

/* 分页 */
.pageBox{margin: 50px auto;width: 1000px;}
.pagelist{overflow: hidden;text-align: center;}
.pagelist .current {display: inline-block;padding: 6px 12px;text-align: center;border: 1px solid #3686ec;margin-left: 6px;background: #3686ec;cursor: pointer;color: #fff;}
.pagelist a {display: inline-block;padding: 6px 12px;text-align: center;border: 1px solid #3686ec;margin-left: 6px;background: #fff;cursor: pointer;color: #3686ec;}
.pagelist a:hover {background: #3686ec;color: #FFF;}
.pagelist a.prev,.pagelist a.next{background: #bfbfbf;color: #fff;border-color: #bfbfbf;}
.pagelist a.prev:hover,.pagelist a.next:hover{background: #b1b0b0;}


/* 面包屑导航 */
.bread-nav{height: 30px;line-height: 30px;background-color: #f2f2f2;width: 1000px;margin: 20px auto;color: #787e84;font-size: 14px;}
.bread-nav .a-nav{color: #787e84;}
.bread-nav .s-right{margin: 0 6px;}
.bread-nav .s-current{color: #3686ec;}
.bread-nav .add-icon{display: inline-block;width: 11px;height: 13px;background: url('../images/win10-xq/dizhi.png');margin: 0 10px;}


/* 系统下载详情 */
.system-download-xq{width: 1000px;margin: 0 auto;background-color: #fff;}
.system-download-xq .system-info{padding: 0 20px 20px 20px;}
.system-download-xq .system-info-img{margin-right: 24px;}
.system-download-xq .system-info-img img{width: 320px;height: 240px;display: block;}
.system-download-xq .system-info-wrap .system-info-tit{color: #00c693;font-size: 24px;margin-bottom: 18px;}
.system-download-xq .system-info-list ul{overflow: hidden;}
.system-download-xq .system-info-list li{width: 218px;float: left;font-size: 14px;color: #888;margin-bottom: 18px;}
.system-download-xq .system-info-list li+li+li+li+li+li+li{width: 436px;}
.system-download-xq .system-info-list li .s-item{margin-right: 16px;}
.system-download-xq .system-info-list li em{display: inline-block;width: 16px;height: 16px;background-position:center center;background-size: cover;vertical-align: middle;margin-right: 10px;}
.system-download-xq .system-info-list li em.icon-01{background-image: url('../images/win10-xq/360.png')}
.system-download-xq .system-info-list li em.icon-02{background-image: url('../images/win10-xq/shadu.png')}
.system-download-xq .system-info-list li em.icon-03{background-image: url('../images/win10-xq/guanj.png')}
.system-download-xq .system-info-btn .a-btn{display: inline-block;width: 140px;height: 38px;text-align: center;line-height: 38px;font-size: 16px;color: #00df98;border: 1px solid #00df98;border-radius: 6px;float: left;margin-right: 15px;box-shadow: 2px 3px 4px rgba(206, 206, 206, .4)}
.system-download-xq .system-info-btn .a-btn.a-download{background-color: #00df98;color: #fff;}
.system-download-xq .system-info-btn .a-btn.a-download:hover{background-color: #00c693;}
.system-download-xq .system-info-btn .a-btn:hover{background-color: #eee;}
.system-download-xq .system-info-btn{margin-right: -15px;}

.system-download-xq .system-introduce{margin-bottom: 30px;}
.system-download-xq .system-introduce .system-item{padding: 0 20px 20px 20px;}
.system-download-xq .system-introduce .system-item .p-tit{font-size: 18px;color: #45c3a3;font-weight: bold;margin-bottom: 18px;}
.system-download-xq .system-introduce .system-item .p-txt{font-size: 14px;color: #666;line-height: 21px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn{display: inline-block;width: 175px;height: 40px;color: #fff;float: left;margin-right: 26px;border-radius: 5px;text-align: center;line-height: 40px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn .icon-xunlei{display: inline-block;width: 22px;height: 20px;background: url('../images/win10-xq/xunlei_icon.png') no-repeat;vertical-align: middle;margin-right: 5px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn .icon-local{display: inline-block;width: 22px;height: 20px;background: url('../images/win10-xq/bendi——icon.png') no-repeat;vertical-align: middle;margin-right: 5px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.green{background-color: #04d99c;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.green:hover{background-color: #00c693;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.blue{background-color: #418cec;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.blue:hover{background-color: #0067ea;}
.system-download-xq .system-introduce .system-item .system-download-btn{margin-bottom: 12px;}
